.eduction{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10%;
    padding:10px;
}
.eduction h1{
    font-size: 3rem;
}
.eduction h3{
    color: grey;
}
.education-container{
    border-radius: 20px;
    background-color: hsla(0, 0%, 23%, 0.3);
    padding:20px;
    letter-spacing: 2px;
    line-height: 2;
    font-size: 20px;
    font-weight: 700;
    margin: 3% 0;
    text-align: center;
}
@media (max-width:800px) {
    .education-container{
        padding:10px;
    }
}