@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
:root{
  --navbar-text-color:white;
}
body {
  background-color: black;
  margin: 0;
  font-family: 'Lato', sans-serif;
  background-image: url('./images/galaxy-background.jpg');
  background-repeat: repeat;
  background-size: contain;
  color: white;
  overflow-x: hidden;
}
body.scroll-disabled {
  overflow: hidden;
}
*{
  box-sizing: border-box;
}
.app{
  width: 80%;
  margin: 0 auto;
  max-width: 1400px;
}